body {
    background-color: #f2ffb1;
    color: rgb(44, 40, 40);
}

h1 {
    font-family: 'arial', sans-serif;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: 'georgia', serif;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
}

.box {
    background-color: rgb(52, 145, 10);
    width: 300px;
    height: 150px;
    padding: 20px;
    border: 5px solid black;
    margin: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column {
    flex: 1;
    padding: 10px;
}

@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
}

.boton {
    display: block;
    text-align: center;
    padding: 10px 20px;
    background-color: #266fcf;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    justify-content: center;
}

.container-nav {
    display: flex;
    padding: 30px;
    height: 70px;
    background-color: rgb(238, 91, 91);
    background-image: url("fotos/foto2.jpeg");
    opacity: 0.8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li > a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}

a {
    font-weight: bold;
    /* Otras propiedades de estilo que ya tenías */
    color: #000000;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
        font-weight: bold;
        font-size: 20px;
    }

    .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
    }
}

.about-image {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 40%;
}

.about-image img {
    border-radius: 10%;
    box-shadow: 10px 10px 10px 10px blue;
    margin-bottom: 10px;
}

.video {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10%;
    padding: 20px;
    max-width: 200px;
    margin: 0 auto;
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity 0.5s;
}

ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu-slider {
    text-align: center;
}

.menu-slider li {
    display: inline-block;
    text-align: center;
}

.menu-slider li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

/* ...otros estilos... */

.whatsapp-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.whatsapp-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    text-decoration: none;
}

/* ...otros estilos... */
